// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'
@require 'font-faces.styl'

maxWidth = 1366px

.page
  @extend .fade-transition

html
  font-size 10px
  font-family Roboto-Regular
  background-color #fff
header
  background-color #fff
  color #424242
  padding 20px 30px
  box-shadow 0px 3px 15px 0px rgba(191,191,191,1)
  position relative
  z-index 1
  .logo
    max-width 150px
  .links
    a
      font-family Roboto-Medium
      font-size 1.6rem
      color inherit
      transition color 0.5s ease
      display flex
      align-items center
      i
        transition color 0.5s ease
        margin-right 5px
      &:hover
        color #e3021a
        i
          color #e3021a
    a + a
      margin-left 10px
p
  font-size 1.6rem
h1
  font-size 3.2rem
h2
  font-size 2.4rem
p, h1, h2
  &.center
    text-align center
.content--wrap
  padding 30px
  box-sizing border-box
  background-color #fff
.application
  a
    text-decoration none
    color inherit
.max-width
  max-width maxWidth
  margin 0 auto
  width 100%